.form-login {
  width: 100%;
  height: 10px;
  font-family: "Kanit", sans-serif !important;
}

.boton-login {
  width: 100%;
  height: 40px;
  background-color: #00ccff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cont-imagen {
  justify-content: center;
  align-items: center;
}

.imagen {
  margin-top: 40px;
  width: 200px;
  height: 70px;
}

.text-login {
  margin-top: -30px;
  font-weight: 600;
  font-family: "Kanit", sans-serif !important;
  font-style: normal;
  font-size: 28px;
  color: #00ccff;
}
